<% include ./partials/messages %>
<div class="d-flex flex-wrap margin text-center">
    <% ads.forEach(function(ad){ %>
    <a id="anchor" href="/book/<%= ad._id %>">
        <div class="card h-100 mt-2 mb-2 mr-2 ml-2" style="width: 15rem;">
            <img class="card-img-top" src="/book/image/<%= ad.image %>" alt="Book Picture">
            <div class="card-body">
                <h5 class="card-title"><%= ad.book_name %></h5>
                <p class="card-text"><%= ad.description %></p>
            </div>
        </div>
    <% }) %>
</div>
<style>
    #cart,
    #chat {
        color: white;
    }
    
</style>