<div class="d-flex flex-wrap margin text-center">
  <% include ./partials/messages %>
<div class="card mx-auto" style="width: 20rem;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted"><%= user.orders %></h6>
    <p class="card-text">Click Below to View Orders</p>
    <a href="/order" class="card-link">View Order</a>
  </div>
</div>
<div class="card mx-auto" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text">Click Below to See Messages</p>
    <a href="/chat" class="card-link">See Messages</a>
  </div>
</div>
<div class="card mx-auto" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text">Click Below to See Ads</p>
    <a href="/mybooks" class="card-link">See Ads</a>
  </div>
</div>
</div>