<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <h1 class="mt-4 text-center">Forgot Password</h1>
          <% include ./partials/messages %>
        <form action="/forgotpassword" method="POST">
            <div class="form-group">
                <label for="Email" class="bmd-label-floating">Email</label>
                <input type="email" name="email" class="form-control" id="forgot_email">
            </div>
             <div class="text-center">
                <button type="submit" class="btn btn-primary btn-raised">Submit</button>
            </div>
        </form>
    </div>
</div>
        
