<div class="container-fluid">
  <h1 class="mt-4">Online Book Reselling Platform</h1>
  <p>In this platform anyone can post ads of their book.</p>
  <p>Our Users see posted book and request for Order.</p>
  <p>Seller approve the order and thats it your book will be on your doors...</p>
</div>