<div class="container">
	<div class="row text-center justify-content-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#ff0000">Failure</h2>
        <img src="/public/images/failed.jpg" height="200px" width="200px">
        <h3>Dear, <%=name%></h3>
        <p style="font-size:20px;color:#5C5C5C;">Sorry, but your payment has been failed plesase try again.</p>
        <a href="/order" class="btn btn-info">     Go to Orders      </a>
    <br><br>
        </div>
	</div>
</div>