<div class="container">
	<div class="row text-center justify-content-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">Success</h2>
        <img src="/public/images/success.jpg" height="250px" width="200px">
        <h3>Dear, <%=name%></h3>
        <p style="font-size:20px;color:#5C5C5C;">Thank you for Your Payment Your Order will be delivered soon.</p>
        <a href="/book" class="btn btn-success">     Buy More      </a>
    <br><br>
        </div>
        
	</div>
</div>